<!DOCTYPE HTML>
<html>
<head>
	<title>Login in..</title>
	<link rel="stylesheet" type="text/css" href="src/css/bootstrap.css" />
</head>
<body>
	<div>
		<div>
			<form>
				<div>
					<label for="text">Е-mail</label></br>
					<input type="e-mail"/>
				</div>
				<div>
					<label for="password">Password</label></br>
					<input type="password"/>
				</div>
				<div>
					<button class="btn btn-primary">Login</button>
					<button class="btn">Cancel</button>
				</div>

			</form>
		</div>
	</div>
</body>
</html>